*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #fff;
  color: #1a202c;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

.app {
  &__wrapper {
    padding: 1rem 1.5rem;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cbd5e0;
    padding: 15px 0;
    margin-bottom: 25px;
    &-title {
      margin: 0;
    }
  }
  &__table {
    border-collapse: collapse;
    // table-layout: auto;
    width: 100%;
    text-align: left;
    th {
      background-color: #edf2f7;
      font-weight: 500;
    }
    th,
    td {
      padding: 0.8rem;
      font-size: 14px;
      border: 1px solid #cbd5e0;
    }
    td {
      background-color: #fff;
      &:last-child {
        padding: 0.8rem 1rem;
      }
    }
  }
}

.btn {
  display: flex;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.25rem;
  background-color: #0a85ea;
  color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  &:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: darken(#0a85ea, 5%);
  }
  &:active {
    background-color: darken(#0a85ea, 10%);
  }
  svg {
    height: 1em;
    width: 1em;
    margin-right: 5px;
  }
  &--stop {
    background-color: #f44e66;
    &:hover {
      background-color: darken(#f44e66, 5%);
    }
  }
  &--ghost {
    background-color: #fff;
    border: 1px solid #cbd5e0;
    color: #2d3748;
    &:hover {
      background-color: #fff;
    }
  }
}

.connect-btn {
  display: block;
  width: 100px;
  margin: auto;
  text-align: center;
  background-color: #fff;
  border: 1px solid #cbd5e0;
  padding: 0.25rem 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.25rem;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  &:hover {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  }
  &:active {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05),
      inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  }
  &--active {
    color: #0a85ea;
    border-color: #0a85ea;
    box-shadow: 0 1px 2px 0 fade-out(#0a85ea, 0.95);
  }
}

.device-details {
  margin-top: 50px;
  display: flex;
  height: 100%;
  align-items: center;

  &__wrapper {
    width: 350px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid #e2e8f0;
    padding: 15px;
    border-radius: 5px;
    margin: auto;
  }

  &__field {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    font-size: 14px;
    span:first-child {
      font-weight: 500;
    }
  }
}
